# Server
PORT=3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/parking_altura

# HikCentral
# Change this from https://127.0.0.1
HIK_BASE_URL=https://267b-102-210-100-92.ngrok-free.app
HIK_ACCESS_KEY=17045577
HIK_SECRET_KEY=TTAHhBwzQrsdzVn4TynI
HIKCENTRAL_CALLBACK_URL=https://hikcentral.tekvancesolutions.co.ke/eventsRCV

# M-Pesa (Safaricom Daraja API)
MPESA_CONSUMER_KEY=your_ck
MPESA_CONSUMER_SECRET=your_cs
MPESA_PASSKEY=your_passkey
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=https://your-domain.com/mpesa/callback
MPESA_PARTY_B=174379

# Payment defaults
DEFAULT_RATE_PER_HOUR=100
DEFAULT_GRACE_MINUTES=15

# Registered vehicles floor access
RESIDENTIAL_FLOORS=5,6,7,8,9
COMMERCIAL_FLOORS=1,2,3,4
